# Reimportando as bibliotecas

In [1]:
!pip install apache_beam
import re
import apache_beam as beam
from apache_beam.io import ReadFromText
from apache_beam.io.textio import WriteToText
from apache_beam.options.pipeline_options import PipelineOptions
pipeline_options = PipelineOptions(argv = None)
pipeline = beam.Pipeline(options = pipeline_options)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apache_beam
  Downloading apache_beam-2.41.0-cp37-cp37m-manylinux2010_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 25.7 MB/s
Requirement already satisfied: pydot<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (1.3.0)
Requirement already satisfied: python-dateutil<3,>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (2.8.2)
Collecting fastavro<2,>=0.23.6
  Downloading fastavro-1.6.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.4 MB)
     |████████████████████████████████| 2.4 MB 50.8 MB/s
Requirement already satisfied: grpcio<2,>=1.33.1 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (1.48.1)
Requirement already satisfied: crcmod<2.0,>=1.7 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (1.7)
Collecting hdfs<3.0.0,>=2.1.0
  Downloading hdfs-2.7.0-py3-none-any.whl (34 kB)
Requirement already satisfied: protobuf<4,>=3.12.2 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (3.17.3)
Requirement already satisfied: numpy<1.23.0,>=1.14.3 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (1.21.6)
Collecting cloudpickle<3,>=2.1.0
  Downloading cloudpickle-2.2.0-py3-none-any.whl (25 kB)
Requirement already satisfied: pyarrow<8.0.0,>=0.15.1 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (6.0.1)
Requirement already satisfied: pytz>=2018.3 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (2022.2.1)
Requirement already satisfied: httplib2<0.21.0,>=0.8 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (0.17.4)
Collecting dill<0.3.2,>=0.3.1.1
  Downloading dill-0.3.1.1.tar.gz (151 kB)
     |████████████████████████████████| 151 kB 52.3 MB/s
Collecting orjson<4.0
  Downloading orjson-3.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (270 kB)
     |████████████████████████████████| 270 kB 57.2 MB/s
Requirement already satisfied: typing-extensions>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from apache_beam) (4.1.1)
Collecting pymongo<4.0.0,>=3.8.0
  Downloading pymongo-3.12.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (508 kB)
     |████████████████████████████████| 508 kB 58.5 MB/s
Collecting requests<3.0.0,>=2.24.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Collecting proto-plus<2,>=1.7.1
  Downloading proto_plus-1.22.1-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.5 MB/s
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from grpcio<2,>=1.33.1->apache_beam) (1.15.0)
Collecting docopt
  Downloading docopt-0.6.2.tar.gz (25 kB)
Collecting protobuf<4,>=3.12.2
  Downloading protobuf-3.20.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 57.2 MB/s
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot<2,>=1.2.0->apache_beam) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->apache_beam) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->apache_beam) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->apache_beam) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.24.0->apache_beam) (2.1.1)
Building wheels for collected packages: dill, docopt
  Building wheel for dill (setup.py) ... done
  Created wheel for dill: filename=dill-0.3.1.1-py3-none-any.whl size=78544 sha256=78acd96c5e6b121df23cc66d5f3d883bbe8744ecc08371a1693b20f807fb49f1
  Stored in directory: /root/.cache/pip/wheels/a4/61/fd/c57e374e580aa78a45ed78d5859b3a44436af17e22ca53284f
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=c379e2bd5b023c411b329899fc3620e8324e1638acad7552d79ff1931ca7c38c
  Stored in directory: /root/.cache/pip/wheels/72/b0/3f/1d95f96ff986c7dfffe46ce2be4062f38ebd04b506c77c81b9
Successfully built dill docopt
Installing collected packages: requests, protobuf, docopt, pymongo, proto-plus, orjson, hdfs, fastavro, dill, cloudpickle, apache-beam
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.17.3
    Uninstalling protobuf-3.17.3:
      Successfully uninstalled protobuf-3.17.3
  Attempting uninstall: pymongo
    Found existing installation: pymongo 4.2.0
    Uninstalling pymongo-4.2.0:
      Successfully uninstalled pymongo-4.2.0
  Attempting uninstall: dill
    Found existing installation: dill 0.3.5.1
    Uninstalling dill-0.3.5.1:
      Successfully uninstalled dill-0.3.5.1
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.5.0
    Uninstalling cloudpickle-1.5.0:
      Successfully uninstalled cloudpickle-1.5.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.2+zzzcolab20220719082949 requires protobuf<3.20,>=3.9.2, but you have protobuf 3.20.2 which is incompatible.
Successfully installed apache-beam-2.41.0 cloudpickle-2.2.0 dill-0.3.1.1 docopt-0.6.2 fastavro-1.6.1 hdfs-2.7.0 orjson-3.8.0 proto-plus-1.22.1 protobuf-3.20.2 pymongo-3.12.3 requests-2.28.1

# Reimportando os métodos

In [2]:
def TextoParaLista(elemento,delimitador = '|'):
  """
  Recebe um texto e um limitador
  Retorna uma lista de elementos pelo delimitador
  """
  return elemento.split(delimitador)

In [3]:
colunas_dengue = [ #todas as colunas que vem do dataset
'id',
'data_iniSE',
'casos',
'ibge_code',
'cidade',
'uf',
'cep',
'latitude',
'longitude']

In [4]:
def ListaParaDicionario(elemento, colunas):
  """
  Recebe duas listas e retorna um dicionário
  """
  return dict(zip(colunas, elemento))

In [5]:
def TrataDatas(elemento):
  """
  Recebe um dicionário e cria um novo campo com ano-mês
  """
  elemento['ano-mes'] = '-'.join(elemento['data_iniSE'].split('-')[:2])
  #Supondo que temos a data 2022-05-18 o split retornará uma lista com ['2022','05','18']
  #Então fariaremos a lista usando um [:2] no final pegando as informações até o segundo elemento
  #Aplicamos também o join com o parâmetro '-' que nos retornará uma STRING no formato 2022-05
  return elemento

In [6]:
def ChaveUf(elemento):
  """
  Receber um dicionário
  Retornar uma tupla com o estado(uf) e o elemento
  """
  chave = elemento['uf']
  return (chave, elemento)

In [7]:
def CasosDengue(elemento):
  """
  Recebe uma tupla (RS, [{},{}])
  Retorna uma tupla ('RS-2014-12, 8')
  """
  uf, registros = elemento
  for registro in registros:
    if bool(re.search(r'\d', registro['casos'])):
      yield (f"{uf}-{registro['ano-mes']}", float(registro['casos'])) #Diferente do return o yield vai executar até retornar todos os elementos
    else:
      yield (f"{uf}-{registro['ano-mes']}", 0.0)

In [8]:
def ChaveUfMes(elemento):
  """
  Receber uma lista de elementos
  Retorna uma tupla ('UF-ANO-MES', casos)
  """
  data, mm, uf = elemento
  ano_mes = '-'.join(data.split('-')[:2])
  chave = f'{uf}-{ano_mes}'
  if float(mm) < 0:
    mm = 0.0
  else:
    mm = float(mm)
  return chave, mm

In [9]:
def arredonda(elemento):
  """
  Recebe um elemento 
  retorna o float com uma ou duas casas decimais.
  """
  chave, mm = elemento
  return (chave, round(mm,1))

In [10]:
def FiltraCamposVazios(elemento):
  """
  Remove elementos que contenam chaves vazias
  """
  chave, dados = elemento
  if all([dados['chuvas'], dados['dengue']]):
      return True
  return False

In [11]:
def DescompactarElementos(elem):
  """
  Recebe uma tupla ('CE-2015-01', {'chuvas': [85.8], 'dengue': [175.0]})
  retorna uma tupla ('CE', '2015', '11', '0.4', '21.0')
  """
  chave, dados = elem
  chuva = dados['chuvas'][0]
  dengue = dados['dengue'][0]
  uf, ano, mes = chave.split('-')
  return uf, ano, mes, str(chuva), str(dengue)

In [12]:
def PrepararCSV(elem, delimitador = ';'):
  """
  Recebe uma tupla ('CE', 2015, 01, 85.8, 175.0)
  Retornar uma string delimitada "CE;2015;01;85.8;175.0"
  """
  return f"{delimitador}".join(elem)

# Pcollections

In [13]:
dengue = (
    pipeline
    | "Leitura do dataset de dengue" >>
      ReadFromText('/content/drive/MyDrive/Colab Notebooks/Dados/casos_dengue.txt', skip_header_lines=1) 
    | "De texto para lista"  >> beam.Map(TextoParaLista)
    | "Lista para dicionário" >> beam.Map(ListaParaDicionario, colunas_dengue)
    | "Criar campo ano-mês" >> beam.Map(TrataDatas)
    | "Criar chave pelo estado" >> beam.Map(ChaveUf)
    | "Agrupor por estado" >> beam.GroupByKey()
    | "Descompactar casos de dengue" >> beam.FlatMap(CasosDengue)
    | "Soma dos casos pela chave" >> beam.CombinePerKey(sum) 

)

chuvas = (
    pipeline
    | "Leitura do dataset de chuvas" >>
      ReadFromText('/content/drive/MyDrive/Colab Notebooks/Dados/chuvas.csv', skip_header_lines=1)
    | "De texto para lista (chuvas)"  >> beam.Map(TextoParaLista,delimitador = ',') 
    | "Criando chave UF-ANO-MES" >> beam.Map(ChaveUfMes)
    | "Combinando o total de chuvas pela chave" >> beam.CombinePerKey(sum)
    | "Arredondar resultados de chuvas" >> beam.Map(arredonda)
)

resultado = (
    
    ({'chuvas': chuvas,'dengue': dengue})
    | "Mesclar pcols" >> beam.CoGroupByKey()
    | "Filtrar dados vazios" >> beam.Filter(FiltraCamposVazios)
    | "Descompactar elementos" >> beam.Map(DescompactarElementos)
    | "Preparar csv" >> beam.Map(PrepararCSV)
)

header = 'UF;ANO;MES;CHUVA;DENGUE'

resultado | 'Criar arquivo CSV' >> WriteToText('resultado', file_name_suffix='.csv', header = header)

pipeline.run()

WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.

WARNING:apache_beam.options.pipeline_options:Discarding unparseable args: ['-f', '/root/.local/share/jupyter/runtime/kernel-d5dd36c7-94b3-4e41-9c5b-75f01b6f9387.json']
WARNING:apache_beam.options.pipeline_options:Discarding invalid overrides: {'argv': None}
WARNING:apache_beam.options.pipeline_options:Discarding unparseable args: ['-f', '/root/.local/share/jupyter/runtime/kernel-d5dd36c7-94b3-4e41-9c5b-75f01b6f9387.json']
WARNING:apache_beam.options.pipeline_options:Discarding invalid overrides: {'argv': None}

# Analisando os dados

O Processamento anterior dura em torno de 5 a 10 minutos, pois analisará os dois datasets. Agora, iremos mostrar esses dados.

In [14]:
import pandas as pd

In [15]:
arquivo = '/content/resultado-00000-of-00001.csv'
df = pd.read_csv(arquivo, delimiter = ';')

In [17]:
df.head() #Mostrando os 5 primeiros resultados

   UF   ANO  MES   CHUVA  DENGUE
0  SP  2015    1  4465.0   772.0
1  SP  2015    2  6595.0  3086.0
2  SP  2015    3  6210.6  8824.0
3  SP  2015    4  1862.0  9932.0
4  SP  2015    5  2756.6  8919.0

In [18]:
df.shape #420 linhas e 5 colunas

(420, 5)

In [22]:
df.groupby(['UF', 'ANO'])[['CHUVA','DENGUE']].mean().reset_index()

    UF   ANO        CHUVA        DENGUE
0   CE  2015   771.783333   5014.250000
1   CE  2016   533.700000   5433.083333
2   CE  2017   775.350000   5519.666667
3   CE  2018   797.950000   1070.083333
4   CE  2019   809.000000   2559.250000
5   ES  2015   575.650000   3734.000000
6   ES  2016   733.916667   4560.750000
7   ES  2017   903.883333   1028.666667
8   ES  2018  1399.166667   1407.500000
9   ES  2019  1122.350000   6716.083333
10  MG  2015  4450.616667   1815.083333
11  MG  2016  5683.166667   6530.500000
12  MG  2017  4960.900000    290.333333
13  MG  2018  6893.000000    127.000000
14  MG  2019  5649.400000   2234.583333
15  PR  2015  2987.816667   8077.416667
16  PR  2016  2751.066667  17536.333333
17  PR  2017  3438.383333   2324.416667
18  PR  2018  2706.800000   1589.166667
19  PR  2019  2758.900000   9431.916667
20  RJ  2015  1436.566667   5989.916667
21  RJ  2016  2153.850000   6922.750000
22  RJ  2017  1979.583333   1071.083333
23  RJ  2018  2975.133333   1509.083333
24  RJ  2019  3298.983333   2388.833333
25  RS  2015  5655.183333     60.833333
26  RS  2016  4823.083333      1.500000
27  RS  2017  6137.083333     21.916667
28  RS  2018  5610.366667      0.583333
29  RS  2019  5801.616667    112.916667
30  SP  2015  3877.283333   3232.916667
31  SP  2016  3378.183333   2368.583333
32  SP  2017  4127.866667    311.500000
33  SP  2018  4131.783333    437.000000
34  SP  2019  4206.300000   6702.250000